body{
	background-image: url(img/menu.jpg);
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.page-header{
	color: red;
}
